Repository sparcs-kaist/taxi-back, pull requests merged in 2022-10, with the labels that each got.

#144 PR Template 수정
  .github/pull_request_template.md
  .github/workflows/node.js.yml
Labels: documentation

#145 #139 limit the number of rooms at searching request
  src/service/rooms.v2.js
Labels: rooms router

#146 Add: add rate limit middleware
  app.js
  package-lock.json
  package.json
  src/middleware/limitRate.js
Labels: ⚒ enhancement

#151 Add: limit number of participating rooms
  src/route/docs/rooms.md
  src/route/docs/rooms.v2.md
  src/service/rooms.v2.js
Labels: ⚒ enhancement, rooms router

#150 Add: reportModel to admin page
  src/route/admin.js
Labels: ⚒ enhancement, admin router

#158 Fix: increase rate limit and exclude admin
  app.js
  src/middleware/limitRate.js
Labels: 😱bug, admin router

#161 #154 locations.js 테스트 케이스 제작
  test/locations.js
Labels: testcase

#167 #166 신고 내역 API 수정
  src/service/reports.js
Labels: 😱bug, reports router
