Repository sparcs-kaist/taxi-back, pull requests merged in 2022-11, with the labels that each got.

#168 #157 bug delete empty room
  src/route/docs/rooms.v2.md
  src/route/rooms.v2.js
  src/service/rooms.v2.js
Labels: 😱bug, rooms router

#170 Add: Send profileImageUrl after updating it successfully
  src/route/docs/static.md
  src/route/docs/users.md
  src/service/users.js
Labels: users router

#164 #155 내 방 리스트의 참여 중인 방, 과거 참여 방 나누는 기준 변경
  app.js
  src/db/mongo.js
  src/db/rooms.js
  src/route/docs/rooms.md
  src/route/rooms.js
  src/service/rooms.js
Labels: rooms router

#172 #171 adminJS version update
  package-lock.json
  package.json
Labels: ⚒ enhancement, admin router

#181 #179 방 검색 시 시간 설정하는 방법 수정
  src/route/docs/rooms.md
  src/route/rooms.js
  src/service/rooms.js
Labels: rooms router

#192 Refactor: extend session limit to 2 weeks
  src/auth/login.js
  test/logininfo.js
Labels: authentication

#196 #189 날짜범위 2주로
  src/service/rooms.js
Labels: rooms router
