Repository sparcs-kaist/taxi-back, pull requests merged in 2022-07, with the labels that each got.

#56 #41 rewrite rooms search api
  src/route/docs/rooms.md
  src/route/rooms.js
Labels: ⚒ enhancement, rooms router, 🖥 working

#72 #71 bug on session
  app.js
  package.json
  src/auth/login.js
Labels: 😱bug

#62 #52 Create test cases for /logininfo, /user
  package.json
  src/route/auth.js
  src/route/auth.replace.js
  src/route/chats.js
  src/route/logininfo.js
  src/route/rooms.js
  src/route/static.js
  src/route/users.js
  src/service/auth.js
  src/service/auth.replace.js
  src/service/chats.js
  src/service/logininfo.js
  src/service/rooms.js
  src/service/static.js
  src/service/users.js
  test/auth.replace.js
  test/logininfo.js
Labels: 🖥 working, testcase

#81 #54 Move profile from local to AWS (2)
  .env.example
  package.json
  public/profile-images/default/CatGeoul.png
  public/profile-images/default/CatGreen.png
  public/profile-images/default/CatJabo.png
  public/profile-images/default/CatOTL.png
  public/profile-images/default/CatTaxi.png
  public/profile-images/default/GooseGeoul.png
  public/profile-images/default/GooseGreen.png
  public/profile-images/default/GooseJabo.png
  public/profile-images/default/GooseOTL.png
  public/profile-images/default/GooseTaxi.png
  public/profile-images/default/NupjukGeoul.png
  public/profile-images/default/NupjukGreen.png
  public/profile-images/default/NupjukJabo.png
  public/profile-images/default/NupjukOTL.png
  public/profile-images/default/NupjukTaxi.png
  public/profile-images/user-upload/.gitignore
  security.js
  src/db/awsS3.js
  src/db/patterns.js
  src/middleware/uploadProfileImage.js
  src/modules/modifyProfile.js
  src/route/docs/users.md
  src/route/users.js
  src/service/auth.js
  src/service/auth.replace.js
  src/service/logininfo.js
  src/service/users.js
Labels: ⚒ enhancement, users router
