Repository sparcs-kaist/taxi-back, pull requests merged in 2023-01, with the labels that each got.

#174 #162 make rooms test cases
  test/auth.replace.js
  test/locations.js
  test/logininfo.js
  test/rooms.js
  test/utils.js
Labels: testcase, 🙌 review requested

#208 #207 관리자 페이지 접속 IP 주소 제한
  src/db/mongo.js
  src/middleware/adminAuth.js
  src/route/admin.js
Labels: admin router

#198 #189 dayrange 2week
  src/route/rooms.js
  src/service/rooms.js
Labels: 🖥 working

#214 #209 접속 기록(log)을 관리자가 볼 수 있도록 기능 추가
  app.js
  src/route/admin.logs.js
Labels: admin router

#215 #190 [Bug] 내 방 리스트 API 검색에서 정렬 옵션 추가
  src/service/rooms.js
Labels: 😱 bug, rooms router

#216 #191 logout api 호출 시 SSO 로그아웃URL 생성 및 전달
  src/route/docs/auth.md
  src/service/auth.js
  src/service/auth.replace.js
Labels: authentication
