Repository sparcs-kaist/taxi-back, pull requests merged in 2023-03, with the labels that each got.

#212 #210 정산 또는 결제 시 채팅 전송
  src/db/mongo.js
  src/service/rooms.js
  test/rooms.js
Labels: chatting, 🖥 working

#232 #205-2 계좌번호 전송 기능 구현
  src/service/logininfo.js
Labels: users router

#231 #231 Admin.log 라우터 app crashed
  src/route/admin.logs.js
Labels: 😱 bug, admin router

#240 #238 접속기록 관리 페이지 화면
  app.js
  package-lock.json
  package.json
  src/db/mongo.js
  src/middleware/authAdmin.js
  src/middleware/information.js
  src/middleware/setTimestamp.js
  src/modules/logAPIAccess.js
  src/route/admin.js
  src/route/admin.logs.js
  src/route/auth.js
  src/route/auth.replace.js
  src/route/rooms.js
Labels: admin router

#243 #241 자동 로그아웃 간격 1시간으로 수정
  src/auth/login.js
Labels: authentication

#246 #242 "/admin/logs" 페이지 제거 및 "/locations" API에서 auth 미들웨어 제거
  app.js
  src/route/admin.logs.js
  src/route/locations.js
Labels: admin router, locations router

#228 #187 FCM 사용하여 알림 기능 구현
  .env.example
  .gitignore
  app.js
  package-lock.json
  package.json
  security.js
  src/db/awsS3.js
  src/db/mongo.js
  src/modules/fcm.js
  src/route/admin.js
  src/route/auth.js
  src/route/auth.replace.js
  src/route/chats.socket.js
  src/route/docs/chats.md
  src/route/notifications.js
  src/service/auth.js
  src/service/auth.mobile.js
  src/service/auth.replace.js
  src/service/chats.js
  src/service/notifications.js
  src/service/rooms.js
Labels: ⚒ enhancement, chatting

#249 #248 Fix: notifications.js
  src/route/notifications.js
Labels: 😱 bug, notifications router

#255 #254 FCM 메시지 payload의 title과 body를 data로 이동
  src/modules/fcm.js
Labels: chatting

#239 #135.4 Introduce Ajv
  package-lock.json
  package.json
  src/middlewares/ajv.js
  src/routes/docs.js
  src/routes/docs/locations.js
  src/routes/docs/logininfo.js
  src/routes/docs/reports.js
  src/routes/docs/reports.md
  src/routes/docs/reportsSchema.js
  src/routes/docs/swaggerDocs.js
  src/routes/locations.js
  src/routes/logininfo.js
  src/routes/reports.js
Labels: documentation, reports router
